@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply px-3 py-[6px] bg-emerald-700 text-gray-50 text-xs rounded-mmd disabled:cursor-not-allowed disabled:opacity-60 hover:bg-emerald-800 active:bg-emerald-900;
  }

  .table-property {
    @apply text-xs px-4 py-2 whitespace-nowrap text-left capitalize font-light;
  }

  .table-header {
    @apply text-xs px-4 py-2 font-medium whitespace-nowrap text-left;
  }
}

.ql-toolbar {
  background-color: rgb(249 250 251);
  border-radius: 4px 4px 0 0;
  padding: 4px;
  border-color: rgb(209 213 219) !important;
}

.ql-editor {
  min-height: 110px;
  max-height: 350px;
}

.cKFCzz {
  display: none;
}
